@font-face {
  font-family: baseFont;
  src: url(./../webfonts/base_font.otf);
}

nav input::-webkit-calendar-picker-indicator {
  background-color: inherit;
}

nav input::-webkit-calendar-picker-indicator {
  display: none;
}

nav [list]::-webkit-calendar-picker-indicator {
  display: none;
}

nav .nav__list--input::-webkit-calendar-picker-indicator {
  display: none !important;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}
